*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    width: 100%;                                /*Ocupa todo el ancho de su caja contenedora*/
    height: 595px;                              /*Altura=50px header + 45px nav + 400px main + 100px footer*/
    font-size: 20px;
}

header{
    width: 100%;                                /*Ocupa todo el tamaño del ancho*/
    height: 50px;
    background-color: antiquewhite;
    color: black;

    #titulo{
        text-align: center;
    }
}

nav{
    width: 100%;                                /*Ocupa todo el ancho de su caja contenedora*/
    height: 45px;
    background-color: aquamarine;

    #lista-nav-izquierda{
        float: left;
        width: 30.9523%;                        /*(390px (medida en px) X 100)/1260px (medida de la caja contenedora)*/
        padding: 0.8928% 0px;                   /*(11.25px (medida en px) X 100)/1260px (medida de la caja contenedora)*/

        li{
            display: inline-block;
            margin-left: 5.1282%;               /*(20px (medida en px) X 100)/390px (medida de la caja contenedora)*/
            background-color: aqua;

            a{
                text-decoration: none;
            }
        }
    }

    #lista-nav-derecha{
        float: right;
        width: 15.0793%;                        /*(190px (medida en px) X 100)/1260px (medida de la caja contenedora)*/
        padding: 0.8928% 0px;                   /*(11.25px (medida en px) X 100)/1260px (medida de la caja contenedora)*/

        li{
            display: inline-block;
            margin-right: 10.5263%;             /*(20px (medida en px) X 100)/190px (medida de la caja contenedora)*/
            background-color: aqua;

            a{
                text-decoration: none;
            }
        }
    }
}

main{
    width: 100%;                                /*Ocupa todo el ancho de su caja contenedora*/
    display: flow-root;
    background-color: blue;

    section{
        float: left;                            /*Flotamos a la izquierda el section para que la caja de la derecha quepe poniendo medidas exactas*/
        width: 61.9047%;                        /*(780px (medida en px) X 100)/1260px (medida de la caja contenedora)*/
        height: 340px;                          /*400px menos el padding que son 60px*/
        margin: 0px 1.5873%;                    /*(20px (medida en px) X 100)/1260px (medida de la caja contenedora)*/
        padding: 2.3809% 0.7936%;               /*(30px y 10px (medida en px) X 100)/1260px (medida de la caja contenedora)*/

        p{
            text-align: justify;
            margin-bottom: 4em;
        }

        form{
            background-color: #D8D8D8;
            padding: 1em 0px;
            padding-left: 8.9743%;              /*(70px (medida en px) X 100)/780px (medida de la caja contenedora)*/

            div{
                input{
                    display: block;             /*Para que no esten en línea con los label*/
                }

                input[type="text"]{
                    width: 64.1025%;            /*(500px (medida en px) X 100)/780px (medida de la caja contenedora)*/
                    padding-left: 1.2820%;      /*(10px (medida en px) X 100)/780px (medida de la caja contenedora)*/
                }

                #enviar{
                    width: 19.2307%;            /*(150px (medida en px) X 100)/780px (medida de la caja contenedora)*/
                    height: 2em;
                    margin-left: 6.4102%;       /*(50px (medida en px) X 100)/780px (medida de la caja contenedora)*/
                }
            }
        }
    }

    aside{
        float: left;                            /*Flotamos a la derecha el aside poniendo medidas exactas para que nos quepa todo en línea*/
        width: 29.3650%;                        /*(370px (medida en px) X 100)/1260px (medida de la caja contenedora)*/
        height: 350px;                          /*400px menos los 50px del padding*/
        background-color: blueviolet;
        margin-right: 1.5873%;                  /*(20px (medida en px) X 100)/1260px (medida de la caja contenedora)*/
        padding: 3.9682% 0px 0px 2.3809%;       /*(50px y 30px (medida en px) X 100)/1260px (medida de la caja contenedora)*/

        div{
            width: 150px;                       /*Tamaño exacto de la imagen*/

            img{
                width: 100%;                    /*La imagen ocupa todo el ancho de su caja contenedora*/
            }
        }
    }
}

footer{
    width: 100%;                                /*Ocupa todo el ancho de su caja contenedora*/
    height: 100px;
    background-color: black;
    color: aliceblue;
}